{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<form method="POST">
    {{form.hidden_tag()}}
    {{form.part_no.label}}
    {{form.part_no()}}
    <br>
    {{form.submit}}            
</form>
<br>
<table>
    <tr>
        <th>Sno</th>
        <th>Sname</th>
        <th>Status</th>
        <th>City</th>
    </tr>
{% for supplier in suppliers %}
<tr>
    <td>{{supplier.Sno}}</td>
    <td>{{supplier.Sname}}</td> 
    <td>{{supplier.Status}}</td>
    <td>{{supplier.City}}</td>
</tr>
{% endfor %}
</table>

{% endblock %}